# ignore files
**.c
**.pyx
**.so
**.pdf
**.o
**.h5ad

# ignore all experiment folders
PropsSimulator/experiment**
PropsSimulator/simulation/*
experiments/*
experiment*/
!configs/experiment

# other folders to ignore
data/
outputs/
logs/
wandb/
checkpoints/
artifacts/
figures/

.vscode

**/media
**/__pycache__

notebooks/experiment_tf.ipynb
notebooks/experiment_torch.ipynb